body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151, 151, 151, 0.03);
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.04);
    background-color: #ffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.logo-name{
    text-decoration: none;
    color: rgba(197, 14, 14, 0.874);
}

.logo img{
    height: 35px;
}

nav .menu {
    display: flex;
}

nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
}

.search{
    width: 250px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}

.search input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search i {
    color: #3a3a3a;
}

.action{

    position: fixed;
    top: 15px;
    right: 30px;
}

.action .profile{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .usermenu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #DCDCDC;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .usermenu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .usermenu:before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #DCDCDC;
    transform: rotate(45deg);
}
.action .usermenu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.action .usermenu h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
}

.action .usermenu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}


.action .usermenu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .usermenu ul li:hover img {
    opacity: 1;
}

.action .usermenu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    margin-left: 10px;
}

.action .usermenu ul li:hover a {

    color: #ff5d94;
}
nav .menu li a:hover{
    background-color: #fff;
    border-radius: 10px;
    color: rgba(179, 18, 18, 0.913);
    box-shadow:  5px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s;
}

#main{
    padding-top: 80px;
    background-color: #ffffff;
}

.carousel{

    width: calc(500px * 4);
}

.item{

    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
    float: left;
    transition: 0.5s ease;
    cursor: pointer;

}

.item:hover{
    transform: scale(1.1);
}
.item img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.heading{
    padding-left: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #1a1a1a;
}

.latest{
    margin-top: 20%;
    border-top: 1px solid rgba(53, 53, 53, 0.1);
}

.latest-heading{

    margin: 30px 30px 0 30px;
    font-weight: 900;
    font-size: 1.3rem;
}

