body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.doople {
    position: relative;
    width: 360px;
    height: 520px;
    overflow: hidden;
}

.doople span {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    background: #fff;
}

.doople span:nth-child(1) {
    background: #b00612;
    left: 0;
}

.doople span:nth-child(2) {
    background: #b00612;
    left: 0;
    z-index: 1;
    transform-origin: top left;
    transform: skew(25deg);
}

.doople span:nth-child(3) {
    background: #b00612;
    right: 0;
}