*{
    box-sizing: border-box;
}

body{
    margin:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}

.register-div{
    width: 430px;
    height: 1430px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #fff;

}

.logo {
    background: url("../image/Doodle_2.jpeg");
    background-size: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 
    /*logo shadow*/
    0px 0px 2px #5f5f5f,
    /*offset*/
    0px 0px 0px 5px #ecf0f3
    /*bottom right */
    8px 8px 15px #fff;
}

.title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.username, .email, .password, .prenom, .nom, .telephone, .birthdate, .ville, .code-postal, .nom_de_la_rue, .numero_de_rue {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
}

.fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}

.register-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa; 
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #fff;
    transition: 0.5s;
}

.signin-button:hover {
    background: #2fdbb6;
}

.signin-button:active {
    background: #1da88a;
}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}